

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .sign-in-container, .sign-up-container {
        width: 100%;
    }

    .overlay-container {
        display: none;
    }

    body {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.875rem;
    }

    button {
        padding: 0.5rem 2rem;
    }

    .social-container a {
        height: 2rem;
        width: 2rem;
    }
    
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.75rem;
    }

    button {
        padding: 0.5rem 1.5rem;
    }

    .social-container a {
        height: 1.5rem;
        width: 1.5rem;
    }
}
